<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="background-color:#2a2a60">
  <a class="navbar-brand" routerLink="about"><span class="brand">wp</span> Developers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item ">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary" routerLink="clarifai">Clarifai image label</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container main">
  <div class="row">
    <div class="col-md-12"> 
      <router-outlet></router-outlet>
    </div>
  </div>
</div>