
.main {
    margin-top: 20px;
}
.nav-table td {
    padding: 5px!important;
}
.material-icons {
    vertical-align: bottom;
}
.brand {
    font-family: 'Monoton', cursive;
    font-size: 20px;
    padding-right: 5px;
    border-right: 1px solid #565686;
}
.sticky-top {
    border-bottom:1px solid #ddd;
}