
<div class="card">
    <h5>Carifai image label</h5>
    <div class="row">
      <div class="col-md-10 form-group">
        <input class="form-control" placeholder="Image Link" [(ngModel)]="link">
      </div>
      <div class="col-md-2">
        <button (click)="predict(link)" class="btn btn-primary">Predict Image</button>
      </div>
    </div>
    <hr> 
    <div class="container" *ngIf="prediction">
      <div class="row">
        <div class="col-sm-4">
            <h6>Image</h6>        
          <img [src]="cImg" style="width:100%; " class="img-thumbnail">
        </div>
        <div class="col-sm-8">
          <h6>Labels</h6>
          <span *ngFor="let r of prediction">
            <span class="badge badge-success">{{r.name}}</span>
            &nbsp;
          </span>
        </div>
      </div>
      <hr>
    </div>
    <!-- <ul class="list-group" *ngIf="prediction">
      <li class="list-group-item" *ngFor="let r of prediction">{{r.name}}</li>
    </ul> -->
  </div>